.navbar{
  display: flex;
  justify-content: space-around;
  background-color:gray;
  color: white;
  padding: 20px;
}
.navbar:hover{
  cursor: grab;
}

.route-div{
  display: flex;
  justify-content: center;
  margin: auto;
}